.endAddOrderContiner{
    width: 100%;
    padding:0 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color:#{$bgBody} ;
}
.alertEndAddOrder{
    padding: 3px 6px;
}

.titleEndAddOrder{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #d1dae8 ;
    color: #374453;
    box-shadow: 0 7px 14px 0 rgba(65,69,88,.1),0 3px 6px 0 rgba(0,0,0,.07);
}
.cardEndAddOrder{
    width: 100%;
    margin: 2px 0 10px;
    padding: 5px 6px;
    display: flex;
    flex-flow: column;
    background-color: #fff;
    color: #262a30;
    border-radius: 4px;
    box-shadow: 0 7px 14px 0 rgba(65,69,88,.1),0 3px 6px 0 rgba(0,0,0,.07);

}
.cardEndAddOrder div {
    padding: 3px 0;
    text-align: justify;
}