/* 1200 , 992 , 768 , 576 , 454 , 332 */
.orderContiner{
    width: 100%;
    padding: 0 10px;
    display: flex;
    
    flex-flow: column;
    
    align-items: center;
}
@media  only screen and (max-width:576px){
    .orderContiner{padding: 0 4px;}
}
@import './endAddOrder.scss';