 /* 1200 , 992 , 768 , 576 , 454 , 332*/
.continerGuideOrder{
    width: 100%;
    display: flex;
    flex-flow: column;
}
.navGuideOrder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navGuideOrder button{
   display: flex;
    margin:1.5px;
    padding: 3px;
    color: #464545;
    justify-content: center;
    align-items: center;

}
@media only screen and (max-width:630px){
    .navGuideOrder button{
        flex-grow: 1;
    }
}