.navMoContainer{height: 30px; display: flex;padding: 0 2px; background-color: #f5f5f5;border-radius: 3px;}
.navMCI{margin-left: 3px;display: flex;align-items: center;}
.navMCI i{font-size: 26px; }
.navMCT{display: flex;align-items: center; font-size: 18px;}
.menu_mobail_1{width: 100%; height: 100%;display: block; position: fixed; opacity: 0.6;top: 0;right: 0; background-color: #000; z-index: 333333300;color: slateblue;}