.navPcContainer{width: 100%;display: flex;}
.navPcContainer div{padding:0 8px;margin-left: 2px;border-radius: 2px; background-color:#f5f5f5 ;}
.navPcContainer div:last-child{margin-left: 0;}
.navPcContainer div:hover{background-color: #d6d6d6;}
.navPcContainer div a {color: #616060;font-size: 16px;text-decoration-line: none;}
.navPcContainer div:hover a {color: #477ebd;}