/* 1200 , 992 , 768 , 576 , 454 , 332 */
.navPagesContainer{
    width: 100%;
    margin: 5px 0;
    padding:1px 5px 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e4e4e4fb;
    background-color: #b1dced;
    // background-color: #eef0f1;
    border-radius: 3px;
}
.navPagesRight{
    display: flex;
    flex-wrap: wrap;
}
.navLeft{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.navPagesRight button , .navLeft button{
    background-color: #8f8e8ef3;
    background-color: #eef0f1;

    margin:3px 5px 0 0;
    border: 1px solid #dadada;
    border-bottom: 2px solid #96a2a7;
    // color: #677a8d;
    color: #8f8e8ef3;
    border-radius:4px 4px 5px 5px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    box-shadow: 0 5px 10px -3px hsla(0,0%,47%,.3);
}
.navPagesRight button:first-child{margin-right: 0;}
.navPagesRight button a, .navLeft button a{color: #8f8e8ef3;}
.exit{
    color:#a00f0f !important;
    background-color:#e4caca !important;
}
.exit a{color:#a00f0f !important;}
.edit{
    color: #338bc2 !important;
    background-color:#cbdae4 !important;
}
.edit a{color:#338bc2 !important}
.green{
    color: #097512 !important;
    background-color:#c9e4cb !important;
}
.green a{color:#097512 !important}
@media  only screen and (max-width:768px){
    .navPagesContainer button{
        margin-right: 3px;
        font-size: 13px;
        height: 22px;
    }
}
@media  only screen and (max-width:454px){
    .navPagesRight{
        flex-grow: 1;
    }
    .navLeft{
        flex-grow: 1;
    }
}