/* 1200 , 992 , 768 , 576 , 454 , 332 */
.navPagesContainer{
    width: 100%;
    margin: 5px 0;
    padding:1px 1px 3px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0d4585cb;
    background: linear-gradient(90deg, #1363becb 0%, #0d4585cb 100%);
    background: -moz-linear-gradient(90deg, #1363becb 0%, #0d4585cb 100%);
    background: -webkit-linear-gradient(90deg, #1363becb 0%, #0d4585cb 100%);
    border-radius: 3px;
}
.navPagesRight{
    display: flex;
    flex-wrap: wrap;
}
.navLeft{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.navPagesRight button , .navLeft button{
    background-color: #eef0f1;
    margin:3px 5px 0 0;
    border: 1px solid #dadada;
    border-bottom: 2px solid hsl(198, 9%, 70%);
    color: hsla(0, 0%, 35%, 0.953);
    border-radius:4px 4px 5px 5px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    box-shadow: 0 5px 10px -3px hsla(0,0%,47%,.3);
}
.navPagesRight button a, .navLeft button a{color: hsla(0, 0%, 35%, 0.953);}
.exit{
    color:hsl(0, 83%, 29%) !important;
    background-color:#e4caca !important;
}
.exit a{color:hsl(0, 83%, 29%) !important;}
.edit{
    color: hsl(203, 86%, 30%) !important;
    background-color:hsl(204, 32%, 85%) !important;
}
.edit a{color:hsl(203, 86%, 30%) !important}
.green{
    color: hsl(125, 86%, 20%) !important;
    background-color:#c9e4cb !important;
}
.green a{color:hsl(125, 86%, 20%) !important}
@media  only screen and (max-width:768px){
    .navPagesContainer button{
        margin-right: 3px;
        font-size: 13px;
        height: 22px;
    }
}
@media  only screen and (max-width:454px){
    .navPagesRight{
        flex-grow: 1;
    }
    .navLeft{
        flex-grow: 1;
    }
}